
body {
	margin: 0;
	font-family: Tahoma, Helvetica;
	max-width: 980px;
	margin: 0 auto 0 auto;
	background: white url('../img/background.png') repeat-x;
	color: #333;
	font-size: 15px;
}

header {
	height: 90px;
	padding: 10px;
}

header h1 {
	margin: 10px 0 0 0;
	font-weight: normal;
	float: left;
	color: steelblue;
	font-weight: bold;
}
header h1 span.abbr {
	font-size: 40px;
}
header h1 span.abbr span {
	color: dodgerblue;
	font-weight: bold;
	text-shadow: lightgrey 2px 2px 0px;
}
header h1 span.hidden {
	display: none;
}
header h1 span.long {
	padding-left: 20px;
	color: darkgrey;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 5px;
	word-spacing: 10px;
	text-shadow: grey 1px 1px 0px;
}

header nav {
	text-align:  right;
	position: relative;
	top: 40px;
	font-size: 16px;
}
header nav ul {
	list-style: none;
	margin: 0;
}
header nav ul li {
	display: inline-block;
	padding: 0 7px 0 7px;
}

header nav a {
	padding: 2px 5px 2px 5px;
	text-decoration: none;
	color: seagreen;
}
header nav a:hover {
	color: white;
	background-color: dodgerblue;
	border-radius: 3px;
	text-decoration: none;
}

h2 {
	margin: 0 0 18px 0;
	font-size: 18px;
	color: dodgerblue;
}

h3 {
	margin: 0 0 10px 0;
	font-size: 15px;
	color: grey;
}

hr {
	margin: 20px 0 20px 0;
}

.center {
	text-align: center;
}

.form-horizontal .control-group {
	margin-bottom: 9px;
}

.help-inline {
	color: grey;
	font-size: 80%;
}

ul.alert.alert-error {
	margin-left: 0;
	padding-left: 35px;
}

.find-entry-form {
	margin: 5px 0 10px 0;
	padding: 5px 10px 5px 10px;
	background-color: #D6EAFF;
	border-radius: 5px;
	text-align: center;
}
.find-entry-form label {
	margin-left: 25px;
	margin-right: 10px;
}
.find-entry-form label:first-child {
	margin-left: 0;
}
.find-entry-form .btn {
	margin-left: 20px;
}
.find-entry-form.disabled {
	background-color: #F8F8F8;
}
.find-entry-form.disabled input {
	color: #000;
}

#prevLesson {
	float: left;
}
#nextLesson {
	float: right;
}
#prevLesson a, #nextLesson a {
	display: block;
	height: 75px;
	width: 20px;
	border-radius: 5px 0 0 5px;
	background: #D6EAFF url('../img/arrows.png') no-repeat 0px center;
}
#nextLesson a {
	border-radius: 0 5px 5px 0;
	background: #D6EAFF url('../img/arrows.png') no-repeat -40px center;
}
#prevLesson a:hover {
	background: dodgerblue url('../img/arrows.png') no-repeat -20px center;
}
#nextLesson a:hover {
	background: dodgerblue url('../img/arrows.png') no-repeat -60px center;
}

.lesson-entry .btn-danger {
	margin-left: 10px;
}


input.topic-input {
	font-size: 20px;
	width: 700px;
	padding: 8px;
}

.form-horizontal label.radio.inline.substituted-radio {
	margin-left: 40px;
}

.lesson-entry {
	margin: 0 auto 0 auto;
	width: 90%;
}
.lesson-entry table th, .lesson-entry table td {
	text-align: left;
	padding: 5px 20px 5px 5px;
	vertical-align: top;
}
.lesson-entry .topic-title {
	font-size: 20px;
	color: dodgerblue;
	height: 30px;
}
.lesson-entry-form .form-actions .btn {
	margin-right: 10px;
}
.lesson-entry .alert.info {
	margin-top: 27px;
	text-align: center;
}

.student-table {
	margin: 40px auto 0 auto;
	font-size: 12px;
	width: 450px;
}
.student-table td {
	vertical-align: middle;
}
.student-table .ordinal {
	width: 100px;
}

/*   Medy's  part of css   */

#loginTable {
	margin: 50px auto;
	padding: 10px;
	width: 350px;
	border-radius: 5px 5px 5px 5px;
}

#loginTable h2 {
	margin-bottom: 5px;
	border-radius: 5px;
	text-shadow: white 1px 1px 0px;
}

#loginTable form {
	margin-bottom: 0;
}

#loginTable table {
	margin: 0 auto;
}

#loginTable td, #loginTable th {
	vertical-align: middle;
	padding: 5px 0 5px 0;
}

#loginTable th {
	text-align: right;
}

#loginTable label {
	margin-right: 10px;
	margin-bottom: 0;
}

.loginButton {
	text-align: center;
}

.hidden {
	display: none;
}

.admin-form .btn-success {
	margin-right: 10px;
}
.admin-table .btn-danger {
	margin-right: 5px;
}
.admin-table .action-column {
	width: 125px;
	text-align: center;
}

.time-table {
	max-width: 100%;
	margin: 0 auto 0 auto;
	border: 1px solid grey;
	border-radius: 5px;
}
.time-table td, .time-table th {
	min-width: 50px;
	text-align: center;
	border: 1px solid grey;
}
.time-table td {
	border-color: #bbb;
}
.time-table th {
	padding: 10px;
	background-color: #eee;
}
.time-table a {
	display: block;
	padding: 10px;
}
.time-table a:hover {
	text-decoration: none;
	background-color: dodgerblue;
	color: white;
	text-shadow: 0 1px 1px black;
}

.student-absence-list {
	width: 350px;
	font-size: 12px;
	margin-right: 20px;
}
.student-absence-list td {
	padding: 0;
}
.student-absence-list td.selected a {
	color: white;
	background-color: dodgerblue;
}
.student-absence-list .has-absence {
	font-weight: bold;
}
.student-absence-list a {
	display: block;
	padding: 8px;
}
.absence-list {
	width: 600px;
	font-size: 12px;
}
.absence-list td {
	padding: 5px;
	vertical-align: middle;
}
.absence-list .cb-column {
	width: 20px;
	text-align: center;
}
.absence-list .late-column {
	width: 100px;
	text-align: center;
}
.absence-list .date-column {
	width: 110px;
	text-align: center;
}
.absence-list .excuse-column {
	text-align: right;
}
.absence-list input {
	margin-bottom: 0;
}
.absence-list form {
	margin: 0;
}
.absence-list .save-button {
	margin-left: 10px;
	margin-right: 10px;
}