
body {
	margin: 0;
	font-family: Tahoma, Helvetica;
	max-width: 980px;
	margin: 0 auto 0 auto;
	background: white url('../images/background.png') repeat-x 0 -10px;
	color: #333;
	font-size: 15px;
}

header {
	height: 90px;
	padding: 10px;
}

header h1 {
	margin: 5px 0 0 0;
	font-weight: normal;
	float: left;
	color: steelblue;
	font-weight: bold;
}
header h1 span.abbr {
	font-size: 40px;
}
header h1 span.abbr span {
	color: dodgerblue;
	font-weight: bold;
	text-shadow: lightgrey 2px 2px 0px;
}
header h1 span.hidden {
	display: none;
}
header h1 span.long {
	padding-left: 20px;
	color: darkgrey;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 5px;
	word-spacing: 10px;
	text-shadow: grey 1px 1px 0px;
}

header nav {
	text-align:  right;
	position: relative;
	top: 40px;
	font-size: 16px;
}
header nav ul {
	list-style: none;
	margin: 0;
}
header nav ul li {
	display: inline-block;
	padding: 0 7px 0 7px;
}

header nav a {
	padding: 2px 5px 2px 5px;
	text-decoration: none;
	color: seagreen;
}
header nav a:hover {
	color: white;
	background-color: dodgerblue;
	border-radius: 3px;
}

.find-entry-form {
	margin: 5px 0 10px 0;
	padding: 5px 10px 5px 10px;
	background-color: #D6EAFF;
	border-radius: 5px;
}

hr {
	margin: 20px 0 20px 0;
}

#prevLesson {
	float: left;
}
#nextLesson {
	float: right;
}
#prevLesson a, #nextLesson a {
	display: block;
	height: 75px;
	width: 20px;
	border-radius: 5px 0 0 5px;
	background: #D6EAFF url('../images/arrows.png') no-repeat 0px center;
}
#nextLesson a {
	border-radius: 0 5px 5px 0;
	background: #D6EAFF url('../images/arrows.png') no-repeat -40px center;
}
#prevLesson a:hover {
	background: dodgerblue url('../images/arrows.png') no-repeat -20px center;
}
#nextLesson a:hover {
	background: dodgerblue url('../images/arrows.png') no-repeat -60px center;
}


input, select {
	padding: 3px;
	border-radius: 2px;
	border: 1px solid #999;
	font-size: 15px;
}

input[type=submit] {
	padding-left: 10px; 
	padding-right: 10px; 
}

input[type=number] {
	width: 50px;
}

table.lessonEntry {
	width: 95%;
	margin: 0 auto 0 auto;
}
table.lessonEntry th {
	width: 120px;
	text-align: right;
	padding-right: 10px;
}
table.lessonEntry td.compound {
	font-weight: bold;
}

table.lessonEntry label {
	margin-left: 20px;
}

input.topic-input {
	font-size: 20px;
	width: 95%;
	padding: 5px;
}

h2 {
	margin: 0 0 18px 0;
	font-size: 18px;
	color: dodgerblue;
}

span.checkbox label {
	margin-left: 5px;
}
span.checkbox input {
	margin-left: 15px;
}